<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @font-face {
            font-family: Proxima Nova;
            src: url("../fonts/Proxima-Nova-Font/Proxima\ Nova\ Font.otf");
        }

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: 'Proxima Nova', sans-serif;
        }

        .Faqmain {
            position: relative;
            padding: 6% 0 3%;
        }

        .faqImg {
            text-align: center;
        }

        .faqContent {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .Faqmain>h2 {
            text-align: center;
            margin: 4% 0;
            font-size: 30px;
            font-weight: 600;
        }


        .faqQ {
            display: flex;
            justify-content: space-between;
            padding: 0 3% 0 0;
        }

        .quetsion {
            display: flex;
            align-items: center;
            width: 95%;
        }

        .quetsion>img {
            width: 55px;
        }

        .faqNav {
            height: 550px;
            width: 55%;
            padding: 1% 1%;
            border-radius: 14px;
            border: 1px solid #7070704A;
            box-shadow: 0px 3px 6px #00000029;
        }

        .faqpart {
            height: 515px;
            width: 100%;
            padding: 1% 1%;
            overflow-y: scroll;
        }

        .faqImg>img {
            width: 75%;
        }

        ::-webkit-scrollbar {
            width: 2px;
        }

        ::-webkit-scrollbar-track {
            background: #7070707A;
        }

        ::-webkit-scrollbar-thumb {
            background: #71B8FF;
        }

        .quetsion>p {
            color: #000000;
            font-weight: 600;
            font-size: 18px;
            margin: 0 0 0 1%;
            cursor: pointer;

        }

        .faqA {
            height: 0px;
            overflow: hidden;
            margin: 2% auto 0;
            width: 82%;
            transition: all 0.3s;
        }

        .faqQA.active .faqA {
            border: 1px solid #707070;
            border-radius: 5px;

            padding: 1.5% 1.5%;
            height: 75px;
        }

        .faqQ>img {
            width: 15px;
            transition: all 0.5s;
        }

        .faqQA.active .faqQ>img {
            transform: rotate(180deg);
        }

        .faqA>p {
            color: #000000;
            opacity: 59%;
            font-size: 18px;
            line-height: 23px;
        }

        .faqQA {
            margin: 0 0 3%;
        }



        /* mobile version */

        @media (max-width:1300px) {
            .Faqmain>h2 {
                font-size: 29px;
            }

            .quetsion {
                gap: 3%;
            }

            .faqNav {
                padding: 3% 1%;
            }
        }

        @media (max-width:1200px) {
            .Faqmain>h2 {
                font-size: 28px;
            }

            .faqNav {
                padding: 2% 1%;
            }
        }

        @media (max-width:1100px) {
            .Faqmain>h2 {
                font-size: 27px;
            }

            .quetsion>img {
                width: 53px;
            }

            .quetsion>p {
                font-size: 17px;
            }

            .Faqmain {
                padding: 6% 0 6%;
            }

            .faqImg>img {
                width: 73%;
            }
        }

        @media (max-width:1000px) {
            .Faqmain>h2 {
                font-size: 26px;
            }

            .faqNav {
                width: 75%;
                height: 465px;
            }

            .faqImg>img {
                width: 92%;
            }

            .faqpart {
                height: 445px;
            }

            .Faqmain>h2 {
                margin: 6% 0 0;
            }
        }

        @media (max-width:900px) {
            .Faqmain>h2 {
                font-size: 22px;
                margin: 6% 0 4% 0;
            }

            .faqImg>img {
                width: 82%;
            }

            .faqpart {
                height: 422px;
            }

            .quetsion>p {
                font-size: 16px;
            }

            .quetsion>img {
                width: 52px;
            }
        }

        @media (max-width:800px) {
            .Faqmain>h2 {
                font-size: 21px;
            }

            .faqImg>img {
                width: 95%;
            }

            .faqNav {
                width: 90%;
                height: 404px;
            }

            .faqpart {
                height: 371px;
            }

            .quetsion>p {
                font-size: 15px;
            }

            .quetsion>img {
                width: 45px;
            }
        }

        @media (max-width:700px) {
            .faqImg>img {
                display: none;
            }

            .Faqmain>h2 {
                margin: 10% 0 4% 0;
            }

            .faqNav {
                width: 85%;
                height: 446px;
            }

            .faqpart {
                height: 410px;
            }

            .faqpart {
                height: 406px;
                padding: 3% 3%;
            }
        }

        @media (max-width:600px) {
            .Faqmain>h2 {
                font-size: 18px;
                margin: 9% 0 4% 0;
            }

            .faqpart {
                height: 397px;
            }

            .faqNav {
                height: 426px;
            }
        }

        @media (max-width:500px) {
            .Faqmain>h2 {
                font-size: 17px;
            }

            .faqNav {
                height: 388px;
                width: 90%;
            }

            .faqpart {
                height: 367px;
            }

            .quetsion>p {
                font-size: 14px;
            }

            .faqQA {
                margin: 0 0 7%;
            }

        }

        @media (max-width:400px) {
            .Faqmain>h2 {
                font-size: 16px;

                margin: 12% 0 10%;
            }

            .quetsion>img {
                width: 38px;
            }

            .faqNav {
                height: 409px;
                width: 94%;
            }

            .quetsion>p {
                font-size: 14px;
            }


            .faqpart {
                height: 384px;
            }

            .faqA>p {
                font-size: 11px;
                line-height: 16px;
            }

            .quetsion {
                gap: 6%;
            }

            .faqQA.active .faqA {
                border: none;
                padding: 1.5% 0% 1.5% 10%;
                height: 60px;
            }

        }
    </style>
    <title>Faqs</title>
</head>

<body>
    <%- include('../components/nav') %>

        <div class="Faqmain">
            <h2>FREQUENTLY ASKED QUESTIONS</h2>
            <div class="faqContent">
                <div class="faqImg">
                    <img src="../../assests/faqs/faqgirl.svg" alt="girl">
                </div>
                <div class="faqNav">
                    <div class="faqpart">
                        <!-- <div class="faqQA">
                            <div class="faqQ">
                                <div class="quetsion">
                                    <img src="../../assests/home/one.svg" alt="one">
                                    <p>Is Brugusikshan applicable to me?</p>
                                </div>
                                <img src="../../assests/faqs/downarrow.svg" alt="arrow">
                            </div>
                            <div class="faqA">
                                <p>We are providing the worksheets from Nursery to Grade 5. These worksheets are even
                                    applicable to all category children.</p>
                            </div>
                        </div>
                        <div class="faqQA">
                            <div class="faqQ">
                                <div class="quetsion">
                                    <img src="../../assests/home/two.svg" alt="two">
                                    <p>How do I get started with Brugusikshan?</p>
                                </div>
                                <img src="../../assests/faqs/downarrow.svg" alt="arrow">
                            </div>
                            <div class="faqA">
                                <p>It's pretty simple! You must register with us and pay the required amount to get the
                                    worksheet kit to your doorstep</p>
                            </div>
                        </div>
                        <div class="faqQA">
                            <div class="faqQ">
                                <div class="quetsion">
                                    <img src="../../assests/home/three.svg" alt="three">
                                    <p>On what basis the worksheets are created?</p>
                                </div>
                                <img src="../../assests/faqs/downarrow.svg" alt="arrow">
                            </div>
                            <div class="faqA">
                                <p>These worksheets are based on the CBSE syllabus. The concepts will be according to
                                    the topics that are mentioned in the CBSE curriculum.</p>
                            </div>
                        </div>
                        <div class="faqQA">
                            <div class="faqQ">
                                <div class="quetsion">
                                    <img src="../../assests/home/four.svg" alt="four">
                                    <p>Can I buy necessary worksheets frequently?</p>
                                </div>
                                <img src="../../assests/faqs/downarrow.svg" alt="arrow">
                            </div>
                            <div class="faqA">
                                <p>We will provide worksheets in bulk, so you might not need them frequently. But if you
                                    are in need. You need to buy the worksheet kit once again.</p>
                            </div>
                        </div>
                        <div class="faqQA">
                            <div class="faqQ">
                                <div class="quetsion">
                                    <img src="../../assests/home/five.svg" alt="five">
                                    <p>Should I come physically to pick up the worksheet, or the company will provide it
                                        to
                                        the doorstep?</p>
                                </div>
                                <img src="../../assests/faqs/downarrow.svg" alt="arrow">
                            </div>
                            <div class="faqA">
                                <p>If you are near to our HQ, you can buy the product physically, or we will deliver the
                                    worksheet kit to the registered home address..</p>
                            </div>
                        </div>
                        <div class="faqQA">
                            <div class="faqQ">
                                <div class="quetsion">
                                    <img src="../../assests/home/six.svg" alt="six">
                                    <p>Can I pay through cash or online payment?</p>
                                </div>
                                <img src="../../assests/faqs/downarrow.svg" alt="arrow">
                            </div>
                            <div class="faqA">
                                <p>We are following an online payment method to clarify the product confirmation you
                                    have purchased.</p>
                            </div>
                        </div>
                        <div class="faqQA">
                            <div class="faqQ">
                                <div class="quetsion">
                                    <img src="../../assests/faqs/seven.svg" alt="seven">
                                    <p>Is it an Indian-based company?</p>
                                </div>
                                <img src="../../assests/faqs/downarrow.svg" alt="arrow">
                            </div>
                            <div class="faqA">
                                <p>Yes, Brugusikshan is an Indian-based company, and it is led by CEO Ranga Prasad and
                                    co-founder Shilpa Raj.</p>
                            </div>
                        </div>
                        <div class="faqQA">
                            <div class="faqQ">
                                <div class="quetsion">
                                    <img src="../../assests/faqs/eight.svg" alt="eight">
                                    <p>In what language are the worksheets available?</p>
                                </div>
                                <img src="../../assests/faqs/downarrow.svg" alt="arrow">
                            </div>
                            <div class="faqA">
                                <p>As the universal language is English. All the worksheets will be in a single language
                                    that is English.</p>
                            </div>
                        </div> -->
                        <!-- <div class="faqQA">
                            <div class="faqQ">
                                <div class="quetsion">
                                    <img src="../../assests/faqs/nine.svg" alt="nine">
                                    <p>Which subjects are included in the worksheet kit?</p>
                                </div>
                                <img src="../../assests/faqs/downarrow.svg" alt="arrow">
                            </div>
                            <div class="faqA">
                                <p>The subjects we include in the worksheet kit are Mathematics, English and
                                    Environmental Science.</p>
                            </div>
                        </div>
                        <div class="faqQA">
                            <div class="faqQ">
                                <div class="quetsion">
                                    <img src="../../assests/faqs/ten.svg" alt="ten">
                                    <p>How do I get notification on the upcoming update?</p>
                                </div>
                                <img src="../../assests/faqs/downarrow.svg" alt="arrow">
                            </div>
                            <div class="faqA">
                                <p>We will inform you about the update through a Newsletter through the registered mail
                                    you would provide.
                                </p>
                            </div>
                        </div> -->
                    </div>
                </div>

                <div class="faqImg">
                    <img src="../../assests/faqs/faqboy.svg" alt="boy">
                </div>

            </div>
        </div>
        <%- include('../components/footer') %>

</body>

<script>
    //practice dynamically adding data in faqs
    const faqsContent = [
        {
            question: `Is Brugusikshan applicable to me?`,
            answer: `We are providing the worksheets from Nursery to Grade 5. These worksheets are even applicable to all category children.`,
            src: `../../assests/home/one.svg`
        },
        {
            question: `How do I get started with Brugusikshan?`,
            answer: `It's pretty simple! You must register with us and pay the required amount to get the worksheet kit to your doorstep`,
            src: `../../assests/home/two.svg`
        },
        {
            question: `On what basis the worksheets are created?`,
            answer: `These worksheets are based on the CBSE syllabus. The concepts will be according to the topics that are mentioned in the CBSE curriculum.`,
            src: `../../assests/home/three.svg`
        },
        {
            question: `Can I buy necessary worksheets frequently?`,
            answer: `We will provide worksheets in bulk, so you might not need them frequently. But if you are in need. You need to buy the worksheet kit once again.`,
            src: `../../assests/home/four.svg`
        },
        {
            question: `Should I come physically to pick up the worksheet, or the company will provide it to the doorstep?`,
            answer: `If you are near to our HQ, you can buy the product physically, or we will deliver the worksheet kit to the registered home address.`,
            src: `../../assests/home/five.svg`
        },
        {
            question: `Can I pay through cash or online payment?`,
            answer: `We are following an online payment method to clarify the product confirmation you have purchased.`,
            src: `../../assests/home/six.svg`
        },
        {
            question: `Is it an Indian-based company?`,
            answer: `Yes, Brugusikshan is an Indian-based company, and it is led by CEO Ranga Prasad and co-founder Shilpa Raj.`,
            src: `../../assests/faqs/seven.svg`
        },
        {
            question: `In what language are the worksheets available?`,
            answer: `As the universal language is English. All the worksheets will be in a single language that is English.`,
            src: `../../assests/faqs/eight.svg`
        },
        {
            question: `Which subjects are included in the worksheet kit?`,
            answer: `The subjects we include in the worksheet kit are Mathematics, English and Environmental Science.`,
            src: `../../assests/faqs/nine.svg`
        },
        {
            question: `How do I get notification on the upcoming update?`,
            answer: `We will inform you about the update through a Newsletter through the registered mail you would provide.`,
            src: `../../assests/faqs/ten.svg`
        }
    ]

    faqsContent.forEach((el) => {
        let faqpart = document.querySelector('.faqpart');

        //faqa
        let faqQA = document.createElement('div');
        faqQA.classList.add('faqQA')

        let faqQ = document.createElement('div');
        faqQ.classList.add('faqQ')
        // console.log(faqQ,"faqQ");

        let quetsion = document.createElement('div');
        quetsion.classList.add('quetsion');

        //number img
        let numimg = document.createElement('img');
        numimg.alt = "numbers"

        let arrow = document.createElement('img');
        arrow.alt = "arrow"
        arrow.src = "../../assests/faqs/downarrow.svg";

        //p question
        let questionP = document.createElement('p');

        //faqA
        let faqA = document.createElement("div");
        faqA.classList.add('faqA');

        //faqA p
        let answerP = document.createElement('p');

        //appending elements into question div
        quetsion.appendChild(numimg);
        quetsion.appendChild(questionP);

        //appending elements into faqQ div
        faqQ.appendChild(quetsion);
        faqQ.appendChild(arrow);

        //appending answer
        faqA.appendChild(answerP);

        //append q and a in faqQA
        faqQA.appendChild(faqQ);
        faqQA.appendChild(faqA);

        numimg.src = `${el.src}`;
        questionP.innerText = el.question;
        answerP.innerText = el.answer;
        faqpart.appendChild(faqQA);
    })


</script>

<script>
    let allfaqQA = document.querySelectorAll(".faqQA");
    allfaqQA.forEach((el) => {
        el.addEventListener('click', () => {
            if (el.classList.contains('active')) {
                el.classList.remove('active')
            } else {
                allfaqQA.forEach((e) => {
                    e.classList.remove('active');
                })
                el.classList.add('active');
            }
        })
    })
</script>


</html>