<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    .footerMain{
        background-image: url('../../assests/footer/footermainbg.png');
        background-size: 100% 100%;
        
    }
    .footerMain{
        display: flex;
        padding: 11% 0 3% 5%;
    }
    .footerLogo{
        width: 30%;
    }
    .footerLogo>p{
        font-family: 'Poppins';
        font-size: 18px;
        margin: 7% 3% 0 0;
         color: #464646;
    }
    .footerContent{
        width: 70%;
        display: flex;
        padding: 4% 0 0 6%;
    }
    .Content1{
        width: 30%;
    }
    .footerAtags>a{
        color: #464646;
        font-family: 'Poppins';
        display: block;
        text-decoration: none;
        font-size: 19px;
        margin: 0 0 3%;
    }
    .Content1>h3{
        font-family: 'Poppins';
        color: #464646;
        font-size: 27px;
        font-weight: 700;
    }
    .footerLogo>img{
        width: 70%;
    }
    .footerAtags {
    margin: 8% 0 0;
}


/* mobile version */
@media (max-width:1300px){
    .footerLogo>p {
    font-size: 17px;
    }
    .footerAtags>a {
    font-size: 18px;
    }
}
@media (max-width:1200px){
    .Content1 {
    width: 29%;
}

.footerContent {
    gap: 5%;
    padding: 4% 0 0 4%;
}
.footerLogo>p {
    font-size: 16px;
}
.footerLogo>img {
    width: 68%;
}
.Content1>h3 {
    font-size: 26px;
}
}
@media (max-width:1100px){
.footerAtags>a {
    font-size: 17px;
}
.Content1 {
    width: 30%;
}
}

@media (max-width:1100px){
.footerLogo>img {
    width: 67%;
}
.footerLogo>p {
    font-size: 15px;
}
.footerAtags>a {
    font-size: 16px;
}
.Content1>h3 {
    font-size: 25px;
}
.footerContent {
    gap: 5%;
    padding: 4% 0 0 4%;
}
}
@media (max-width:900px){


}
  </style>
</head>
<body>
    <div class="footerMain">
        <div class="footerLogo">
            <img src="../../assests/navbar/brugusikshan logo.png" alt="brugusikshanlogo">
            <p>BruguSikshan is an E-learning platform focussed on providing a holistic learning environment for Kids. Benefit from interactive teaching model, personalised tuition, customised depth and pace of session based on your curriculum.</p>
        </div>
        <div class="footerContent">
            <div class="Content1">
                <h3>Explore</h3>
                <div class="footerAtags">
                    <a href="#">Home</a>
                    <a href="#">About Us</a>
                    <a href="#">Contact Us</a>
                </div>
            </div>

            <div class="Content1">
                <h3>Quick Links</h3>
                <div class="footerAtags">
                    <a href="#">Shipping Policy</a>
                    <a href="#">Privacy Policy</a>
                    <a href="#">FAQS</a>
                    <a href="#">Terms and Conditions</a>
                </div>
            </div>

            <div class="Content1">
                <h3>Explore</h3>
                <div class="footerAtags">
                    <a href="#">Phone: +91-9380060977</a>
                    <a href="#"> Email Us: abcd@gmail.Com</a>
                </div>
            </div>
        </div>

    </div>
    
</body>
</html>