@font-face {
    font-family: Proxima Nova;
    src:url("../fonts/Proxima-Nova-Font/Proxima\ Nova\ Font.otf");
}
@font-face {
    font-family: Comic Sans MS;
    src:url("../fonts/comic-sans-ms/COMIC.TTF");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova', sans-serif;
}

.homeMain {
    position: relative;
    padding: 7% 0 0;
}
.sectionBg{
    background: url('../../assests/home/homeMainBg.svg');
    /* height: 100vh; */
    background-size: cover;
}
.homeHead{
    font-family: 'Comic Sans MS';
    font-size: 53px;
    color: #000000;
}
.homeSection1{
    width: 60%;
    padding: 9% 0% 12% 5%;
}
.homeContent{
    color: #000000;
    opacity: 59%;
    font-size: 19px;
    font-weight: 500;
    padding: 2% 24% 4% 0;
    line-height: 27px;
}
.homeSection1>button{
    border: none;
    background-color: #F8B361;
    font-size: 22px;
    color: #FFFFFF;
    font-family: 'Comic Sans MS';
    padding: 1% 6%;
    border-radius: 13px;
}
.homeSection2{
    padding: 1% 6%;
}
.homeHead2{
    font-family: 'Comic Sans MS';
    text-align: center;
    font-size: 32px;
    padding: 4% 0;
}
.section2Content{
    display: flex;
}
.homeImg-section{
    width: 50%;
}
.section2Content>div:nth-of-type(1)>img{
    width: 88%;
}
.section2imgContent {
    display: flex;
    margin: 0 0 5%;
}
.section2SubContent>p:nth-of-type(1){
    color: #000000;
    font-weight: 600;
    font-size: 21px;

}
.section2SubContent>p:nth-of-type(2){
    color: #000000;
    opacity: 59%;
    font-size: 17px;  
    margin: 1% 16% 0% 0;
}
.section2img>img{
    width: 100%;
}
.section2SubContent {
    padding: 0 0 0 4%;
}

/* ------------section3------------------ */

.section3-sub {
    display: flex;
    justify-content: center;
    margin: 4% 0 0;
}
.section3Details{
    display: flex;  
    margin: 0 0 7%;
}

.sectin3self>p:nth-of-type(1){
    color: #000000;
    font-weight: 600;
    font-size: 20px;

}
.sectin3self>p:nth-of-type(2){
    color: #000000;
    opacity: 59%;
    margin: 4% 0 0;
    font-size: 13px;
}
.section3Content{
    width: 30%;
}
.section3child{
    width: 100%;
}
.sectin3self{
    padding: 4% 18% 0 4%;
}
.numberFour{
    text-align: right;
    padding: 4% 4% 0 18%;
}
.homeSection3{
    margin: 2% 0;
}
.section3ImgDetail>img {
    width: 70px;
    height: 70px;
}
.homeSection4{
    padding: 0 5%;
    margin: 6% 0;
}
.section4board{
    background-image: url('../../assests/home/blackboard.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 0 0 8%;
}
.section4grades{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: space-evenly;
}
.eachGrade{
    width: 23%;
    margin: 0 0 3%;
    padding: 1% 0 2%;
    border-radius: 14px;
}
.eachGradeimg>img{
    width: 152px;
    height: 155px;
}
.eachGrade>p{
    color: #000000;
    font-size: 22px;
    font-family: 'Proxima Nova';
    font-weight: 700;
    text-align: center;
    padding: 7% 0;
}
.eachGradeimg {
    text-align: center;
}

/* -------section5------------- */

.section5Content>p:nth-of-type(1){
    color: #000000;
    font-weight: 700;
    font-size: 21px;
}
.section5Content>p:nth-of-type(2){
    color: #000000;
    opacity: 59%;
    font-size: 15px;
    margin: 5% 12% 0;
}


.section5-sub {
    display: flex;
    justify-content: center;
    margin: 2% 0 3%;
}
.section5Journey {
    width: 30%;
    text-align: center;
    padding: 0 2%;
}
.section5img>img{
    width: 60%;
    height: 320px;
}
.section5Content {
    margin: 4% 0 0;
}

/* -----------section6---------------- */

.section6carousel {
    padding: 2% 5%;
}
.section6carousel .owl-carousel .owl-item .parentImg img{
    width: 88%;
}
.parentImg{
    width: 50%;
}
.parentCard{
    display: flex;
    box-shadow: 0px 3px 15px #00000029;
    width: 90%;
    margin: 11% auto;
    padding: 6% 3%;
    border-radius: 15px;
}

.section6carousel .owl-item.center{
    transform: scale(1.15);
}

.parentDetails>h5{
    color: #000000;
    font-weight: 700;
    font-size: 21px;
}
.parentDetails>p:nth-of-type(1){
    color: #000000;
    font-size: 15px;
    margin: 3% 0 8%;
}
.parentDetails>p:nth-of-type(2){
    color: #000000;
    opacity: 69%;
    font-size: 13px;
    margin: 0 0 5%;
}
.parentDetails>p:nth-of-type(3){
    color: #000000;
    font-size: 15px;
    line-height: 19px;
}
.parentDetails {
    width: 50%;
    padding: 7% 0%;
}

/* -----------mobile-version----------- */

@media screen and (max-width:1220px) {
    .homeHead {
        font-size: 46px;
    }
    .homeContent {
        font-size: 17px;
    }
    .eachGrade {
        padding: 1% 0 1%;
    }
    .eachGrade>p {
        padding: 5% 0;
    }
}
@media screen and (max-width:1060px) {
    .homeHead {
        font-size: 36px;
    }
    .homeContent {
        font-size: 16px;
        line-height: 23px;
    }
    .homeHead2 {
        font-size: 29px;
    }
    .section2SubContent>p:nth-of-type(2) {
        font-size: 16px;
    }
    .section2SubContent>p:nth-of-type(1) {
        font-size: 19px;
    }
    .sectin3self>p:nth-of-type(1) {
        font-size: 18px;
    }
    .section3child {
        padding: 14% 0 0;
    }
    .section3ImgDetail>img {
        width: 54px;
        height: 54px;
    }
    .sectin3self {
        padding: 4% 10% 0 4%;
    }
    .numberFour {
        padding: 4% 4% 0 10%;
    }
    .eachGradeimg>img {
        width: 137px;
        height: 126px;
    }
    .eachGrade {
        padding: 2% 0 2%;
    }
    .section5img>img {
        height: 239px;
    }
    .section5Content>p:nth-of-type(1) {
        font-size: 19px;
    }
    .parentCard {
        width: 94%;
    }
    .parentImg {
        align-items: center;
        display: flex;
    }
    .section6carousel .owl-carousel .owl-item .parentImg img {
        width: 94%;
    }
    .parentDetails>p:nth-of-type(3) {
        font-size: 13px;
        line-height: 15px;
    }
    .parentDetails>h5 {
        font-size: 17px;
    } 
}
@media screen and (max-width:830px) {
    .homeContent {
        font-size: 14px;
        line-height: 17px;
        padding: 4% 24% 4% 0;
    }
    .homeSection1>button {
        font-size: 18px;
        padding: 1.5% 7%;
    }
    .section2Content {
        flex-direction: column-reverse;
        flex-direction: column-reverse;
       align-items: center;
        margin: 5% 0 0;
    }
    .homeImg-section {
        width: 85%;
    }
    .section2Content>div:nth-of-type(1)>img {
        width: 82%;
        display: block;
        margin: auto;
    }
    .section2SubContent>p:nth-of-type(2) {
        margin: 2% 0% 0% 0;
    }
    .homeHead {
        font-size: 31px;
    }
    .section3-sub {
        flex-direction: column;
        align-items: center;
    }
    .section3Content {
        width: 85%;
    }
    .sectin3self {
        padding: 0% 0% 0 4%;
    }
    .sectin3self>p:nth-of-type(1) {
        font-size: 19px;
    }
    .sectin3self {
        padding: 0% 0% 0 2%;
    }
    .sectin3self>p:nth-of-type(2) {
        margin: 2% 0 0;
        font-size: 16px;
    }
    .section3Details {
        margin: 0 0 5%;
    }
    .section3child {
        padding: 5% 0;
        display: block;
        margin: 0 auto 4%;
        width: 65%;
    }
    .section3rowpart {
        flex-direction: row-reverse;
        justify-content: left;
    }
    .numberFour {
        text-align: left;
    }
    .eachGrade {
        width: 32%;
    }
    .section5img>img {
        height: 184px;
    }
    .parentCard {
        width: 97%;
       
    }
    .section6carousel .owl-item.center{
        transform: scale(1);   
    }
    .sectionBg {
        background-position: center;
    }
}
@media screen and (max-width:720px) {
    .homeHead {
        font-size: 24px;
    }
    .homeContent {
        line-height: 15px;
    }
    .homeSection1>button {
        font-size: 17px;
        padding: 2% 9%;
        margin: 1% 0 0;
    }
    .homeHead2 {
        font-size: 23px;
    }
    .section5-sub{
        display: none;
    }
    .section5Journey {
        width: 85%;
        margin: auto;
    }

    .section5-sub-mob .owl-carousel .owl-item img {
        display: block;
        width: 53%;
        margin: auto;
    }
    .section5-sub-mob {
        padding: 0 4%;
        margin: 4% 0;
    }
}









