@font-face {
    font-family: Proxima Nova;
    src: url("../fonts/Proxima-Nova-Font/Proxima\ Nova\ Font.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proxima Nova', sans-serif;
}

.shipping-mainimage {
    width: 100%;
    text-align: center;
    margin: 5% 0 0 0;


}



.shipping-img {
    width: 82%;


}

.shipping-container {
    position: relative;
}

.shipping-mainsection {
    padding: 0% 6%;
    position: absolute;
    top: 0;


}

.shipping-mainpolicy {
    padding: 0% 12% 5% 12%;

}

.shipping-content {
    background: transparent radial-gradient(farthest-corner at 48% 38%, #FFFFFF 17%, #F9FBFB 45%, #E9EFEF 80%, #DDE7E7 100%);
    border-top: 7px solid #808080;
    border-right: 3px solid #808080;
    border-left: 10px solid #808080;
    border-bottom: 3px solid #808080;
    padding: 0% 5%;
    margin-top: 32.8%;


}

.shipping-mainheading {
    font-size: 28px;
    text-align: center;
    padding: 7% 0%;
    -webkit-text-stroke-width: thin;
    font-weight: 900;
    letter-spacing: 0.5px;
}

.shipping-contents {
    display: flex;
    gap: 15px;
    font-size: 22px;
    padding-bottom: 2%;
    font-weight: 600;
    letter-spacing: 0.5px;

}

.shipping-headingpara {
    font-size: 13px;
    padding-left: 3.5%;
    padding-bottom: 4%;
    line-height: 1.6;
   letter-spacing: 0.9px;
}

/* terms */

.terms-img {
    width: 65%;


}
.terms-numberheading{
    color:#015B97;
    font-size: 22px;
    padding: 0 0 0 3.5% ;
}
.term-content
{
    background: transparent radial-gradient(farthest-corner at 48% 38%, #FFFFFF 17%, #F9FBFB 45%, #E9EFEF 80%, #DDE7E7 100%);
    border-top: 7px solid #808080;
    border-right: 3px solid #808080;
    border-left: 10px solid #808080;
    border-bottom: 3px solid #808080;
    padding: 0% 5%;
    margin-top: 27.81%;
}
.terms-mainsection {
    padding: 0% 6%;
    position: absolute;
    top: 0;
    right:0;
    left:0;


}
