<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade5 Innerpage</title>
    <link rel="stylesheet" href="../../stylesheets/nursery.css">
</head>

<body>
    <%- include('../components/nav') %>
        <div class="nursery-maincontainer">
            <div class="nursery-container">
                <div class="nursery-sec1mainheadings">
                    <p class="nursery-sec1heading">Do you want to help your child develop their own interests and
                        opinions
                        about academic subjects?
                    </p>
                    <p class="nursery-sec1para">Brugusikshan's vast educational concepts are indeed important for a
                        milestone in your child's life and we prepare kids for middle school. Our worksheets include
                        self-guided activities to increase their level of learning.</p>
                    <button class="nursery-sec1button">Grade 5 Worksheets Kit</button>

                </div>
            </div>
            <div class="nursery-parentcards">
                <div class="nursery-sec2parentbuttons">
                    <button class="nursery-sec2button" data-index="1" onclick="handletabs(this)"
                        style="background-color: #FC7E82; outline: 10px solid #FECBCD;">Maths</button>
                    <button class="nursery-sec2button" data-index="2" onclick="handletabs(this)"
                        style="background-color: #FAC800;">English
                    </button>
                    <button class="nursery-sec2button" data-index="3" onclick="handletabs(this)"
                        style="background-color: #7B61F8;">EVS</button>


                </div>
                <div class="nursery-sec2maincards">
                    <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                    <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                    <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                    <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                </div>
                <div class="nursery-sec2maincards" style="display: none;">
                    <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                    <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                    <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                    <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                </div>
                <div class="nursery-sec2maincards" style="display: none;">
                    <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                    <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                    <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                    <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                </div>

            </div>

            <div class="nursery-sec3maincontainer">

                <div class="nursery-sec3container">
                    <img src="./assests/nurseryinnerpage/section3img.svg" alt="image of nurseryinnerpage"
                        class="nursery-sec3img">
                    <div class="nursery-sec3parentcontent">
                        <p class="nursery-sec3heading">Product Description</p>
                        <div class="nursery-sec3childcontent">
                            <img src="./assests/nurseryinnerpage/no1.png" alt="image of number 1"
                                class="nursery-sec3numbers">
                            <p class="nursery-sec3para">The Worksheet kit includes 4 books and stationary</p>
                        </div>
                        <div class="nursery-sec3childcontent">
                            <img src="./assests/nurseryinnerpage/no2.png" alt="image of number 2"
                                class="nursery-sec3numbers">
                            <p class="nursery-sec3para">Worksheet enhances subtle learning experience to create
                                logic-building skills</p>
                        </div>
                        <div class="nursery-sec3childcontent">
                            <img src="./assests/nurseryinnerpage/no3.png" alt="image of number 3"
                                class="nursery-sec3numbers">
                            <p class="nursery-sec3para">Hands-on Activities and Concept Based Learning</p>
                        </div>
                        <div class="nursery-sec3childcontent">
                            <img src="./assests/nurseryinnerpage/no4.png" alt="image of number 4"
                                class="nursery-sec3numbers">
                            <p class="nursery-sec3para">Basic to advanced fun IQ based learning
                            </p>
                        </div>
                        <div class="nursery-sec3childcontent">
                            <img src="./assests/nurseryinnerpage/no5.png" alt="image of number 4"
                                class="nursery-sec3numbers">
                            <p class="nursery-sec3para">Self Explanatory worksheets and answer sheets provided in case
                                of
                                doubts.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nursery-sec4maincontainer">
                <div class="nursery-sec4container">
                    <p class="nursery-sec4heading">Get your hands on the worksheets that improve your child's problem
                        solving skills</p>
                    <p class="nursery-sec4para">Brugusikshan academic worksheet kits contain hand-eye coordination,
                        puzzles,
                        engraving fonts, subject-based concepts and surprising churning learning effects.Let endless
                        curiosity about learning begin now!</p>
                    <div class="nursery-sec4parentprice">
                        <h1 class="nursery-sec4notprice">₹1400/-</h1>
                        <h1 class="nursery-sec4price">₹1000/-</h1>
                    </div>
                    <button class="nursery-sec4button">GET A FREE DEMO KIT</button>
                </div>
            </div>
        </div>
        <%- include('../components/footer') %>
</body>
<script>
    function handletabs(el) {
        let colors = ["#FECBCD", "#FFEC9F", "#C5B9FF", "#ACFE9F"]
        let allButtons = document.querySelectorAll(".nursery-sec2button");
        allButtons.forEach((e) => {
            e.style.outline = 'none';
        })
        el.style.outline = `10px solid ${colors[el.dataset.index - 1]}`;
        let carousels = [...document.querySelectorAll(".nursery-sec2maincards")];
        carousels.forEach((carousel) => {
            carousel.style.display = "none";
        });
        carousels[el.dataset.index - 1].style.display = "flex";
    }
</script>

</html>