<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LKG Innerpage</title>
    <link rel="stylesheet" href="../../stylesheets/nursery.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <%- include('../components/nav') %>
        <div class="nursery-maincontainer">
            <div class="nursery-container">
                <div class="nursery-sec1mainheadings">
                    <p class="nursery-sec1heading">Let your kid start conceptualised learning from LKG </p>
                    <p class="nursery-sec1para">We provide concept-based learning in Brugusikshan kits to enable fun
                        activities at your home. The worksheets include everything from attractive activities to vibrant
                        fonts.</p>
                    <button class="nursery-sec1button">LKG Worksheets Kit</button>

                </div>
            </div>
            <div class="nursery-parentcards">
                <div class="nursery-sec2parentbuttons">
                    <button class="nursery-sec2button" data-index="1" onclick="handletabs(this)"
                        style="background-color: #FC7E82; outline: 10px solid #FECBCD;">Numeracy</button>
                    <button class="nursery-sec2button" data-index="2" onclick="handletabs(this)"
                        style="background-color: #FAC800;">Literacy</button>
                    <button class="nursery-sec2button" data-index="3" onclick="handletabs(this)"
                        style="background-color: #7B61F8;">EVS</button>
                    <button class="nursery-sec2button" data-index="4" onclick="handletabs(this)"
                        style="background-color: #26BC0F;">Stroke</button>
                </div>
                <div class="desktopCards">
                    <div class="nursery-sec2maincards">
                        <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                        <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                        <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                        <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                    </div>
                    <div class="nursery-sec2maincards" style="display: none;">
                        <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                        <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                        <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                        <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                    </div>
                    <div class="nursery-sec2maincards" style="display: none;">
                        <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                        <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                        <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                        <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                    </div>
                    <div class="nursery-sec2maincards" style="display: none;">
                        <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                        <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                        <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                        <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                    </div>
                </div>
                <div class="MobileCards">
                    <div class="nursery-sec2mainMob">
                        <div class="Nurserycards owl-carousel owl-theme">
                            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                        </div>
                    </div>
                    <div class="nursery-sec2mainMob" style="display: none;">
                        <div class="Nurserycards owl-carousel owl-theme">
                            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                        </div>
                    </div>
                    <div class="nursery-sec2mainMob" style="display: none;">
                        <div class="Nurserycards owl-carousel owl-theme">
                            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                        </div>
                    </div>
                    <div class="nursery-sec2mainMob" style="display: none;">
                        <div class="Nurserycards owl-carousel owl-theme">
                            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
                        </div>
                    </div>
                </div>
            </div>

            <div class="nursery-sec3maincontainer">

                <div class="nursery-sec3container">
                    <img src="./assests/nurseryinnerpage/section3img.svg" alt="image of nurseryinnerpage"
                        class="nursery-sec3img">
                    <div class="nursery-sec3parentcontent">
                        <p class="nursery-sec3heading">Product Description</p>
                        <div class="nursery-sec3childcontent">
                            <img src="./assests/nurseryinnerpage/no1.png" alt="image of number 1"
                                class="nursery-sec3numbers">
                            <p class="nursery-sec3para">The Worksheet kit includes 4 books, stationery, Write & wipe
                                sheet -
                                (for extra practice)</p>
                        </div>
                        <div class="nursery-sec3childcontent">
                            <img src="./assests/nurseryinnerpage/no2.png" alt="image of number 2"
                                class="nursery-sec3numbers">
                            <p class="nursery-sec3para">Worksheet enhances subtle learning experience to create
                                logic-building skills</p>
                        </div>
                        <div class="nursery-sec3childcontent">
                            <img src="./assests/nurseryinnerpage/no3.png" alt="image of number 3"
                                class="nursery-sec3numbers">
                            <p class="nursery-sec3para">Hands-on Activities and Concept Based Learning</p>
                        </div>
                        <div class="nursery-sec3childcontent">
                            <img src="./assests/nurseryinnerpage/no4.png" alt="image of number 4"
                                class="nursery-sec3numbers">
                            <p class="nursery-sec3para">Finger Grip Strokes Book (Applicable for Pre-primary)</p>
                        </div>
                        <div class="nursery-sec3childcontent">
                            <img src="./assests/nurseryinnerpage/no5.png" alt="image of number 4"
                                class="nursery-sec3numbers">
                            <p class="nursery-sec3para">Self Explanatory worksheets and answer sheets provided in case
                                of
                                doubts.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nursery-sec4maincontainer">
                <div class="nursery-sec4container">
                    <p class="nursery-sec4heading">Get your hands on the worksheets that improve your child's problem
                        solving skills</p>
                    <p class="nursery-sec4para">Brugusikshan academic worksheet kits contain hand-eye coordination,
                        puzzles,
                        engraving fonts, subject-based concepts and surprising churning learning effects. Let endless
                        curiosity about learning begin now!</p>
                    <div class="nursery-sec4parentprice">
                        <h1 class="nursery-sec4notprice">₹1400/-</h1>
                        <h1 class="nursery-sec4price">₹1000/-</h1>
                    </div>
                    <button class="nursery-sec4button">GET A FREE DEMO KIT</button>
                </div>
            </div>
        </div>
        <%- include('../components/footer') %>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    $('.Nurserycards.owl-carousel').owlCarousel({
        loop: false,
        margin: 10,
        nav: true,
        dots: false,
        responsive: {
            0: {
                items: 1
            },
            550: {
                items: 2,
                center: false
            },
            830: {
                items: 3
            }
        }
    });
</script>
<script>
    function handletabs(el) {
        let colors = ["#FECBCD", "#FFEC9F", "#C5B9FF", "#ACFE9F"]
        let allButtons = document.querySelectorAll(".nursery-sec2button");
        allButtons.forEach((e) => {
            e.style.outline = 'none';
        })
        el.style.outline = `10px solid ${colors[el.dataset.index - 1]}`;
        let carousels = [...document.querySelectorAll(".nursery-sec2maincards")];
        carousels.forEach((carousel) => {
            carousel.style.display = "none";
        });
        carousels[el.dataset.index - 1].style.display = "flex";

        let mobcards = [...document.querySelectorAll('.nursery-sec2mainMob')];
        console.log(mobcards, "dfghj")
        mobcards.forEach((el) => {
            console.log(el, "el")
            el.style.display = "none";
        });
        mobcards[el.dataset.index - 1].style.display = "block";
    }
</script>

</html>