<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../stylesheets/nursery.css">
</head>

<body>
    <div class="nursery-maincontainer">
        <div class="nursery-container">
            <div class="nursery-sec1mainheadings">
                <p class="nursery-sec1heading">Worksheets for Nursery to engage your children into off-screen learning
                </p>
                <p class="nursery-sec1para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip</p>
                <button class="nursery-sec1button">Get your kit</button>

            </div>
        </div>
        <div class="nursery-parentcards">
        <div class="nursery-sec2parentbuttons">
            <button class="nursery-sec2button1">Numeracy</button>
            <button class="nursery-sec2button2">Literacy</button>
            <button class="nursery-sec2button3">Art</button>
            <button class="nursery-sec2button4">Stroke</button>
        </div>
        <div class="nursery-sec2maincards">
            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
        </div>
        <div class="nursery-sec2maincards">
            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
        </div>
        <div class="nursery-sec2maincards">
            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
        </div>
        <div class="nursery-sec2maincards">
            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
            <img src="./assests/nurseryinnerpage/section2img.png" alt="cards" class="sec2img1">
        </div>
    </div>

        <div class="nursery-sec3maincontainer">

            <div class="nursery-sec3container">
                <img src="./assests/nurseryinnerpage/section3img.svg" alt="image of nurseryinnerpage" class="nursery-sec3img">
                <div class="nursery-sec3parentcontent">
                    <p class="nursery-sec3heading">Product Description</p>
                    <div class="nursery-sec3childcontent">
                        <img src="./assests/nurseryinnerpage/no1.svg" alt="image of number 1" class="nursery-sec3numbers">
                        <p class="nursery-sec3para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut laboris</p>
                    </div>
                    <div class="nursery-sec3childcontent">
                        <img src="./assests/nurseryinnerpage/no2.svg" alt="image of number 2" class="nursery-sec3numbers">
                        <p class="nursery-sec3para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut laboris</p>
                    </div>
                    <div class="nursery-sec3childcontent">
                        <img src="./assests/nurseryinnerpage/no3.svg" alt="image of number 3" class="nursery-sec3numbers">
                        <p class="nursery-sec3para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut laboris</p>
                    </div>
                    <div class="nursery-sec3childcontent">
                        <img src="./assests/nurseryinnerpage/no4.svg" alt="image of number 4" class="nursery-sec3numbers">
                        <p class="nursery-sec3para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut laboris</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="nursery-sec4maincontainer">
            <div class="nursery-sec4container">
                <p class="nursery-sec4heading">Get your hands on the worksheets that improve your child's problem solving skills</p>
                <p class="nursery-sec4para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                <div class="nursery-sec4parentprice">
                <h1 class="nursery-sec4notprice">₹1400/-</h1>
                <h1 class="nursery-sec4price">₹1000/-</h1>
            </div>
                <button class="nursery-sec4button">Get your kit</button>
            </div>
        </div>
    </div>

</body>

</html>