<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="../../stylesheets/about.css">
</head>

<body>
    <%- include('../components/nav') %>
        <div class="about-parent">
            <div class="about-maincontainer">
                <div class="about-sec1main">
                    <img src="./assests/aboutus/section1.png" alt="aboutusimg" class="about-sec1img">
                    <div class="about-sec1parentcontents">
                        <p class="about-sec1heading">Get to know more about Brugusikshan and our story</p>
                        <p class="about-sec1para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-sec2parent">
            <div class="about-sec2maincontainer">
                <div class="about-sec2container">
                    <p class="about-sec2heading">ABOUT US</p>
                    <p class="about-sec2heading2">Explore. Lead. Do</p>
                    <p class="about-sec2para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatLorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim
                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat</p>
                </div>
                <img src="./assests/aboutus/section2.svg" alt="imsgeofbrugusikshan" class="about-sec2img">
            </div>
        </div>
        <div class="about-sec3parent">
            <div class="about-sec3maincontainer">
                <div class="about-sec3headings">
                    <p class="about-sec3heading1">Get your child the best of the best</p>
                    <p class="about-sec3heading2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco</p>
                </div>
                <div class="about-sec3parentcards">
                    <div class="about-sec3cards">
                        <div class="about-sec3cardbackimg1">
                            <div class="about-sec3parentcardimg">
                                <img src="./assests/aboutus/section3img1.svg" alt="cardimg" class="about-sec3cardimg">
                            </div>
                            <p class="about-sec3cardheading">Our Mission</p>
                            <p class="about-sec3cardpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem
                                ipsum</p>
                        </div>
                        <div class="about-sec3cardbackimg2">
                            <div class="about-sec3parentcardimg">
                                <img src="./assests/aboutus/section3img2.svg" alt="cardimg" class="about-sec3cardimg">
                            </div>
                            <p class="about-sec3cardheading">Our Mission</p>
                            <p class="about-sec3cardpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem
                                ipsum</p>
                        </div>
                        <div class="about-sec3cardbackimg3">
                            <div class="about-sec3parentcardimg">
                                <img src="./assests/aboutus/section3img3.svg" alt="cardimg" class="about-sec3cardimg">
                            </div>
                            <p class="about-sec3cardheading">Our Mission</p>
                            <p class="about-sec3cardpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem
                                ipsum</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
        <div class="about-sec4parent">
            <div class="about-sec4maincontainer">
                <div class="about-sec4headings">
                    <p class="about-sec4heading1">Our Team</p>
                    <p class="about-sec4heading2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco</p>
                </div>
                <div class="about-sec4parentprofile">
                    <div class="about-sec4profiles">
                        <img src="./assests/aboutus/section4img1.png" alt="profile1" class="about-sec4img1">
                        <p class="about-sec4profilename">Rajesh Sharma</p>
                        <p class="about-sec4profiledesignation">Designation</p>
                        <p class="about-sec4profilediscription">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor</p>

                    </div>
                    <div class="about-sec4profiles">
                        <img src="./assests/aboutus/section4img2.png" alt="profile1" class="about-sec4img1">
                        <p class="about-sec4profilename">Rajesh Sharma</p>
                        <p class="about-sec4profiledesignation">Designation</p>
                        <p class="about-sec4profilediscription">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor</p>

                    </div>
                    <div class="about-sec4profiles">
                        <img src="./assests/aboutus/section4img1.png" alt="profile1" class="about-sec4img1">
                        <p class="about-sec4profilename">Rajesh Sharma</p>
                        <p class="about-sec4profiledesignation">Designation</p>
                        <p class="about-sec4profilediscription">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="about-sec5parent">
            <div class="about-sec5background">
                <p class="about-sec5heading">Don't miss out on these amazing worksheets</p>
                <p class="about-sec5para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                </p>
                <button class="about-sec5button">Get demo kit now!</button>
            </div>
        </div>


        <%- include('../components/footer') %>
            </div>

</body>

</html>