<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../../stylesheets/contact.css">
</head>

<body>
    <%- include('../components/nav') %>
        <div class="contact-maincontainer">
            <div class="contact-background">
                <p class="contact-contact">Contact us</p>

                <div class="contact-sec1parent">
                    <div class="contact-sec1child">
                        <p class="contact-sec1heading">HOW CAN WE HELP YOU?</p>
                        <p class="contact-sec1para">Do you want to sign up for our newsletter? Choose the mailing list
                            from the drop-down menu. You can enquire and recommend us. Fill in your doubts to get your
                            questions answered.</p>
                        <div class="contact-formimg">
                            <img src="./assests/contactus/conatctimg.svg" alt="formpageimage" class="contact-sec1img">
                            <form action="/contact-form" method="POST" class="contact-formparent"
                                onsubmit="validation()" name="contactform">
                                <div class="contact-formmain">
                                    <div class="contact-form">
                                        <label for="First Name" class="labelname">First Name</label><br>
                                        <input type="text" id="name" class="name" name="Name" required maxlength="45">
                                    </div>
                                    <div class="contact-form">
                                        <label for="Last Name" class="labelname">Last Name</label><br>
                                        <input type="text" id="name" class="name" name="LastName" required
                                            maxlength="45">
                                    </div>
                                </div>
                                <div class="contact-formmain">
                                    <div class="contact-form">
                                        <label for="Phone Number" class="labelname">Phone Number</label><br>
                                        <input type="telephone" id="name" pattern="[0-9]{3}" class="name"
                                            name="Telephone" required>
                                    </div>
                                    <div class="contact-form">
                                        <label for="Email" class="labelname">Email</label><br>
                                        <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" id="name"
                                            class="name" name="Email" required>
                                    </div>
                                </div>
                                <div class="contact-textmain">

                                    <label for="Message" class="labelname">Message</label><br>
                                    <textarea name="text" id="message" cols="60" rows="3"
                                        class="textareamessage"></textarea>
                                </div>
                                <div class="contact-parentbutton">
                                    <button class="contact-sumbitbutton">Submit</button>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <%- include('../components/footer') %>
            <script>
                function validation() {

                    let result = document.contact - formparent.value;
                    if (result == " ") {
                        window.alert("please fill all  details ");
                        return false
                    }
                    else
                        return true
                }

            </script>
            <!-- 
    <script>
        function validation()
        {
                var name = document.contactform.Name.value;
                var email =document.contactform.Email.value;
                var phone =document.contactform.Telephone.value;
                var regEmail=/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/g;  
                var regPhone=/^\d{10}$/;                                                                       
 
                if (name == "" ) {
                    window.alert("Please enter your name properly.");
                    return false;
                    console.log("hello")
                }
                if (email == "" || !regEmail.test(email)) {
                    window.alert("Please enter a valid e-mail address.");
                    return false;
                }
 
            
                if (phone == "" && !regPhone.test(phone)) {
                    window.alert("Please enter valid phone number.");
                    return false;
                }
 
                return true;
            }
    </script> -->
</body>

</html>