<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../stylesheets/home.css">
    <title>HOME | brugusikshan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
     <%- include('../components/nav') %>
        <%- include('../components/demokit') %>

            <div class="homeMain">
                <div class="sectionBg">
                    <div class="homeSection1">
                        <h1 class="homeHead">Kids Have an Endless Curiosity Towards Learning</h1>
                        <p class="homeContent">Parents! We save your time from preparing subject-based worksheets by
                            providing
                            required learning resources & activities that will give your kid an extra dose to LEARN MORE
                        </p>
                        <button onclick="opendemokit()">Explore</button>
                    </div>
                </div>
                <div class="homeSection2">
                    <h2 class="homeHead2">Why Choose Brugusikshan?</h2>
                    <div class="section2Content">
                        <div class="homeImg-section">
                            <img src="../../assests/home/choose.svg" alt="choose">
                        </div>
                        <div class="homeImg-section">
                            <div class="section2imgContent">
                                <div class="section2img">
                                    <img src="../../assests/home/brain.svg" alt="brain">
                                </div>
                                <div class="section2SubContent">
                                    <p>Engraving Minds</p>
                                    <p>We stimulate your kids to connect deeply to any topic By making it relatable,
                                        entertaining and easy to understand.</p>
                                </div>

                            </div>
                            <div class="section2imgContent">
                                <div class="section2img">
                                    <img src="../../assests/home/boost.svg" alt="boost">
                                </div>
                                <div class="section2SubContent">
                                    <p>Boost For Learning</p>
                                    <p>Our effective approach boosts academic achievement while building thinking and
                                        hands-on
                                        writing practice.</p>
                                </div>

                            </div>
                            <div class="section2imgContent">
                                <div class="section2img">
                                    <img src="../../assests/home/blooming.svg" alt="blooming">

                                </div>
                                <div class="section2SubContent">
                                    <p>Blooming Effect</p>
                                    <p>After constructive efforts toward learning through our activities, your kids roof
                                        up
                                        their skills to constantly grow in the coming future.</p>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>
                <div class="homeSection3">
                    <h2 class="homeHead2">Benefits From Activity Worksheet</h2>
                    <div class="section3-sub">
                        <div class="section3Content">

                            <div class="section3Details">
                                <div class="section3ImgDetail">
                                    <img src="../../assests/home/one.svg" alt="one">
                                </div>
                                <div class="sectin3self">
                                    <p>Self Explanatory</p>
                                    <p>We will provide worksheets that are completely kid-friendly and build enthusiasm
                                        to learn
                                        the basic concepts.</p>
                                </div>

                            </div>

                            <div class="section3Details">
                                <div class="section3ImgDetail">
                                    <img src="../../assests/home/two.svg" alt="two">
                                </div>
                                <div class="sectin3self">
                                    <p>Tuning Motor and Gross Motor Skills</p>
                                    <p>Your kid will learn the enhanced pen & worksheet-based skills to increase
                                        stability in
                                        learning.</p>
                                </div>

                            </div>

                            <div class="section3Details ">
                                <div class="section3ImgDetail">
                                    <img src="../../assests/home/three.svg" alt="three">
                                </div>
                                <div class="sectin3self">
                                    <p>Improves IQ Level</p>
                                    <p>We use real-world dilemmas & ethical problems to make your kid clarify the
                                        foundations
                                        for the issues they face in the future.</p>
                                </div>

                            </div>
                        </div>
                        <div class="section3Content">
                            <img src="../../assests/home/sectionmainbg.png" class="section3child" alt="children">
                        </div>
                        <div class="section3Content">
                            <div class="section3Details section3rowpart">
                                <div class="sectin3self numberFour">
                                    <p>Stroke-Based Learning</p>
                                    <p>Every kid in this world is not the same. So, we provide a standard path engraving
                                        their mindset through these physical activities.</p>
                                </div>
                                <div class="section3ImgDetail">
                                    <img src="../../assests/home/four.svg" alt="four">
                                </div>
                            </div>

                            <div class="section3Details section3rowpart">
                                <div class="sectin3self numberFour">
                                    <p>CBSE Concept-Based Learning</p>
                                    <p>These worksheets are based on CBSE from Nursery to Grade 5.</p>
                                </div>
                                <div class="section3ImgDetail">
                                    <img src="../../assests/home/five.svg" alt="five">
                                </div>
                            </div>

                            <div class="section3Details section3rowpart">
                                <div class="sectin3self numberFour">
                                    <p>Doubt Clearing Session</p>
                                    <p>Every month there are two sessions which help your kid understand the doubts they
                                        have.</p>
                                </div>
                                <div class="section3ImgDetail">
                                    <img src="../../assests/home/six.svg" alt="six">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="homeSection4">
                    <div class="section4board">
                        <h3 class="homeHead2" style="color: white;">Grade</h3>
                        <div class="section4grades">
                            <div class="eachGrade" style="background-color: #D9C6F2;">
                                <p>Nursery</p>
                                <div class="eachGradeimg">
                                    <img src="../../assests/home/nursery.png" alt="nursery">
                                </div>
                            </div>

                            <div class="eachGrade" style="background-color: #FE8A6C;">
                                <p>UKG</p>
                                <div class="eachGradeimg">
                                    <img src="../../assests/home/ukg.png" alt="ukg">
                                </div>
                            </div>

                            <div class="eachGrade" style="background-color: #FFCECE;">
                                <p>LKG</p>
                                <div class="eachGradeimg">
                                    <img src="../../assests/home/lkg.png" alt="lkg">
                                </div>
                            </div>

                            <div class="eachGrade" style="background-color: #D2B1C0;">
                                <p>Grade 1</p>
                                <div class="eachGradeimg">
                                    <img src="../../assests/home/grade1.png" alt="grade1">
                                </div>
                            </div>

                            <div class="eachGrade" style="background-color: #8FD7DC;">
                                <p>Grade 2</p>
                                <div class="eachGradeimg">
                                    <img src="../../assests/home/grade2.png" alt="grade2">
                                </div>
                            </div>

                            <div class="eachGrade" style="background-color:#FFD581;">
                                <p>Grade 3</p>
                                <div class="eachGradeimg">
                                    <img src="../../assests/home/grade3.png" alt="grade3">
                                </div>
                            </div>

                            <div class="eachGrade" style="background-color: #DDE4BA;">
                                <p>Grade 4</p>
                                <div class="eachGradeimg">
                                    <img src="../../assests/home/grade4.png" alt="grade4">
                                </div>
                            </div>

                            <div class="eachGrade" style="background-color: #85BB8E;">
                                <p>Grade 5</p>
                                <div class="eachGradeimg">
                                    <img src="../../assests/home/grade5.png" alt="grade5">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="homeSection5">
                    <h2 class="homeHead2">Journey with Brugusikshan</h2>
                    <div class="section5-sub">
                        <div class="section5Journey">
                            <div class="section5img">
                                <img src="../../assests/home/signup.png" alt="signup">
                            </div>
                            <div class="section5Content">
                                <p>Sign Up with Brugusikshan</p>
                                <p>Fill in the necessary details to register with us to start the learning process.</p>
                            </div>
                        </div>

                        <div class="section5Journey">
                            <div class="section5img">
                                <img src="../../assests/home/book.png" alt="book">
                            </div>
                            <div class="section5Content">
                                <p>Book Your Grade Worksheet</p>
                                <p>We will send a mail after you register and reply for which grade you would need the
                                    worksheet.</p>
                            </div>
                        </div>

                        <div class="section5Journey">
                            <div class="section5img">
                                <img src="../../assests/home/delivery.png" alt="delivery">
                            </div>
                            <div class="section5Content">
                                <p>Doorstep Delivery</p>
                                <p>Within 4-7 working days after we receive your mail and payment. We will deliver the
                                    worksheet to your door.</p>
                            </div>
                        </div>
                    </div>


                    <div class="section5-sub-mob">
                        <div class="newkids owl-carousel owl-theme">
                            <div class="section5Journey">
                                <div class="section5img">
                                    <img src="../../assests/home/signup.png" alt="signup">
                                </div>
                                <div class="section5Content">
                                    <p>Sign Up with Brugusikshan</p>
                                    <p>Fill in the necessary details to register with us to start the learning process.
                                    </p>
                                </div>
                            </div>

                            <div class="section5Journey">
                                <div class="section5img">
                                    <img src="../../assests/home/book.png" alt="book">
                                </div>
                                <div class="section5Content">
                                    <p>Book Your Grade Worksheet</p>
                                    <p>We will send a mail after you register and reply for which grade you would need
                                        the worksheet.</p>
                                </div>
                            </div>

                            <div class="section5Journey">
                                <div class="section5img">
                                    <img src="../../assests/home/delivery.png" alt="delivery">
                                </div>
                                <div class="section5Content">
                                    <p>Doorstep Delivery</p>
                                    <p>Within 4-7 working days after we receive your mail and payment. We will deliver
                                        the worksheet to your door.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="homeSection6">
                    <h2 class="homeHead2">Parent Testimonials</h2>
                    <div class="section6carousel">
                        <div class="parentTest owl-carousel owl-theme">
                            <div class="item parentCard">
                                <div class="parentImg"> <img src="../../assests/home/parentsimg.png" alt="parentimg">
                                </div>
                                <div class="parentDetails">
                                    <h5>Anjana Sharma</h5>
                                    <p>Mother of Rahul</p>
                                    <p>Grade 3</p>
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. "</p>
                                </div>
                            </div>
                            <div class="item parentCard">
                                <div class="parentImg"> <img src="../../assests/home/parentsimg.png" alt="parentimg">
                                </div>
                                <div class="parentDetails">
                                    <h5>Anjana Sharma</h5>
                                    <p>Mother of Rahul</p>
                                    <p>Grade 3</p>
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. "</p>
                                </div>
                            </div>
                            <div class="item parentCard">
                                <div class="parentImg"> <img src="../../assests/home/parentsimg.png" alt="parentimg">
                                </div>
                                <div class="parentDetails">
                                    <h5>Anjana Sharma</h5>
                                    <p>Mother of Rahul</p>
                                    <p>Grade 3</p>
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. "</p>
                                </div>
                            </div>
                            <div class="item parentCard">
                                <div class="parentImg"> <img src="../../assests/home/parentsimg.png" alt="parentimg">
                                </div>
                                <div class="parentDetails">
                                    <h5>Anjana Sharma</h5>
                                    <p>Mother of Rahul</p>
                                    <p>Grade 3</p>
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. "</p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
            <%- include('../components/footer') %>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    $('.parentTest.owl-carousel').owlCarousel({
        loop: false,
        margin: 10,
        nav: false,
        center: true,
        responsive: {
            0: {
                items: 1
            },
            600: {      
                items: 2,
                center: false
            },
            830: {
                items: 3
            }
        }
    });

    $('.newkids.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        center: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 2,
                center: false
            },
            830: {
                items: 3
            }
        }
    })
</script>

</html>