<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../stylesheets/home.css">
    <title>HOME | brugushikshan</title>

</head>

<body>
    <div class="homeMain">
        <div class="sectionBg">
            <div class="homeSection1">
                <h1 class="homeHead">Kids Have an Endless Curiosity Towards Learning</h1>
                <p class="homeContent">Parents! We save your time from preparing subject-based worksheets by providing
                    required learning resources & activities that will give your kid an extra dose to LEARN MORE</p>
                <button>Explore</button>
            </div>
        </div>
        <div class="homeSection2">
            <h2 class="homeHead2">Why Choose Brugusikshan?</h2>
            <div class="section2Content">
                <div class="homeImg-section">
                    <img src="../../assests/home/choose.svg" alt="choose">
                </div>
                <div class="homeImg-section">
                    <div class="section2imgContent">
                        <div class="section2img">
                            <img src="../../assests/home/brain.svg" alt="brain">
                        </div>
                        <div class="section2SubContent">
                            <p>Engraving Minds</p>
                            <p>We stimulate your kids to connect deeply to any topic By making it relatable,
                                entertaining and easy to understand.</p>
                        </div>

                    </div>
                    <div class="section2imgContent">
                        <div class="section2img">
                            <img src="../../assests/home/boost.svg" alt="boost">
                        </div>
                        <div class="section2SubContent">
                            <p>Boost For Learning</p>
                            <p>Our effective approach boosts academic achievement while building thinking and hands-on
                                writing practice.</p>
                        </div>

                    </div>
                    <div class="section2imgContent">
                        <div class="section2img">
                            <img src="../../assests/home/blooming.svg" alt="blooming">

                        </div>
                        <div class="section2SubContent">
                            <p>Blooming Effect</p>
                            <p>After constructive efforts toward learning through our activities, your kids roof up
                                their skills to constantly grow in the coming future.</p>
                        </div>

                    </div>

                </div>
            </div>


        </div>
        <div class="homeSection3">
            <h2 class="homeHead2">Benefits From Activity Worksheet</h2>
            <div class="section3-sub">
                <div class="section3Content">

                    <div class="section3Details">
                        <div class="section3ImgDetail">
                            <img src="../../assests/home/one.png" alt="one">
                        </div>
                        <div class="sectin3self">
                            <p>Self Explanatory</p>
                            <p>We will provide worksheets that are completely kid-friendly and build enthusiasm to learn
                                the basic concepts.</p>
                        </div>

                    </div>

                    <div class="section3Details">
                        <div class="section3ImgDetail">
                            <img src="../../assests/home/two.png" alt="two">
                        </div>
                        <div class="sectin3self">
                            <p>Tuning Motor and Gross Motor Skills</p>
                            <p>Your kid will learn the enhanced pen & worksheet-based skills to increase stability in
                                learning.</p>
                        </div>

                    </div>

                    <div class="section3Details">
                        <div class="section3ImgDetail">
                            <img src="../../assests/home/three.png" alt="three">
                        </div>
                        <div class="sectin3self">
                            <p>Improves IQ Level</p>
                            <p>We use real-world dilemmas & ethical problems to make your kid clarify the foundations
                                for the issues they face in the future.</p>
                        </div>

                    </div>
                </div>
                <div class="section3Content">
                    <img src="../../assests/home/sectionmainbg.png" class="section3child" alt="children">
                </div>
                <div class="section3Content">
                        <div class="section3Details">
                            <div class="sectin3self numberFour">
                                <p>Stroke-Based Learning</p>
                                <p>Every kid in this world is not the same. So, we provide a standard path engraving their mindset through these physical activities.</p>
                            </div>
                            <div class="section3ImgDetail">
                                <img src="../../assests/home/four.png" alt="four">
                            </div>
                        </div>

                        <div class="section3Details">
                            <div class="sectin3self numberFour">
                                <p>CBSE Concept-Based Learning</p>
                                <p>These worksheets are based on CBSE from Nursery to Grade 5.</p>
                            </div>
                            <div class="section3ImgDetail">
                                <img src="../../assests/home/five.png" alt="five">
                            </div>
                        </div>

                        <div class="section3Details">
                            <div class="sectin3self numberFour">
                                <p>Doubt Clearing Session</p>
                                <p>Every month there are two sessions which help your kid understand the doubts they have.</p>
                            </div>
                            <div class="section3ImgDetail">
                                <img src="../../assests/home/six.png" alt="six">
                            </div>
                        </div>

                </div>
            </div>
        </div>

    </div>
</body>

</html>