<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shipping Policy</title>
    <link rel="stylesheet" href="../../stylesheets/shipping.css">
</head>

<body>
    <!-- <%- include('../components/nav') %> -->

    <div class="shipping-maincontainer">
        <div class="shipping-mainsection">
            <div class="shipping-mainimage">
                <img src="./assests/shippingpolicy/Group 3513.svg" alt="image of shipping" class="shipping-img">
            </div>
        </div>
        <div class="shipping-mainpolicy">
            <div class="shipping-content">
                <p class="shipping-mainheading">SHIPPING POLICY</p>
                <div class="shipping-contents">
                    <p class="shipping-number">01</p>
                    <p class="shipping-numberheading">Lorem ipsum dolor sit amet,</p>
                </div>
                <p class="shipping-headingpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatLorem
                    ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore
                    magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat</p>
                <div class="shipping-contents">
                    <p class="shipping-number">02</p>
                    <p class="shipping-numberheading">Lorem ipsum dolor sit amet,</p>
                </div>
                <p class="shipping-headingpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatLorem
                    ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore
                    magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat</p>
                <div class="shipping-contents">
                    <p class="shipping-number">03</p>
                    <p class="shipping-numberheading">Lorem ipsum dolor sit amet,</p>
                </div>
                <p class="shipping-headingpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatLorem
                    ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore
                    magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat</p>
                <div class="shipping-contents">
                    <p class="shipping-number">04</p>
                    <p class="shipping-numberheading">Lorem ipsum dolor sit amet,</p>
                </div>
                <p class="shipping-headingpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatLorem
                    ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore
                    magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat</p>
                <div class="shipping-contents">
                    <p class="shipping-number">05</p>
                    <p class="shipping-numberheading">Lorem ipsum dolor sit amet,</p>
                </div>
                <p class="shipping-headingpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatLorem
                    ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore
                    magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat</p>
                <div class="shipping-contents">
                    <p class="shipping-number">06</p>
                    <p class="shipping-numberheading">Lorem ipsum dolor sit amet,</p>
                </div>
                <p class="shipping-headingpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatLorem
                    ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore
                    magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat</p>
                <div class="shipping-contents">
                    <p class="shipping-number">07</p>
                    <p class="shipping-numberheading">Lorem ipsum dolor sit amet,</p>
                </div>
                <p class="shipping-headingpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatLorem
                    ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore
                    magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat</p>
                <div class="shipping-contents">
                    <p class="shipping-number">08</p>
                    <p class="shipping-numberheading">Lorem ipsum dolor sit amet,</p>
                </div>
                <p class="shipping-headingpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                    minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequatLorem
                    ipsum
                    dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore
                    magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat</p>
            </div>

        </div>
        <!-- <%- include('../components/footer') %>  -->
    </div>
</body>

</html>